<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="../assets/logo.png">
  <link rel="stylesheet" href="../Styles/about.css">
</head>
<body>
  <header>
    <nav class="navibar">
      <div class="logo">
        <a href="../index.html"><img src="../assets/logo.png" alt="Logo" width="140px"></a>
      </div>
      <ul class="nav-links">
        <li><a href="../index.html">HOME</a></li>
        <li class="dropdown">SERVICES <i class="fa-solid fa-caret-down"></i>
          <ul class="dropdown-content">
            <li><a href="revenue.html">REVENUE CYCLE MANAGEMENT</a></li>
            <li><a href="bpo.html">BUSINESS PROCESS OUTSOURCING</a></li>
            <li><a href="it.html">INFORMATION TECHNOLOGY</a></li>
          </ul>
        </li>
        <li><a href="whom.html">WHOM WE SERVE</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="carrier.html">CAREER</a></li>
        <li><a href="login.html">CLIENT LOGIN</a></li>
      </ul>
      <div class="talk">
        <a href="talk.html">Let's Talk</a>
      </div>
    </nav>
  </header>
  
  <footer>
    <div class="footer-container">
      <div class="address">
        <h3>RR INNOVATIONS PVT LTD</h3>
        <address>
          2nd Floor,<br>
          Garudadri Nagar,<br>
          Royaloaks Furniture Beside,<br>
          Mangalam Road,<br>
          Tirupathi, AP-517507
        </address>
        <h4 class="address"><i class="fa-solid fa-phone"></i> +91-6302785278, 9962410589</h4>
        <h4 class="address"><i class="fa-solid fa-envelope"></i> rrinnovation24@gmail.com</h4>
      </div>
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="services.html">SERVICES</a></li>
          <li><a href="whom.html">WHOM WE SERVE</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="carrier.html">CAREER</a></li>
          <li><a href="talk.html">Let's Talk</a></li>
        </ul>
      </div>
    </div>
    <div class="copy">
      <h4>© Copy rights @ RR INNOVATIONS PVT LTD. Powered By Big Matrix</h4>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/6d74ef5722.js" crossorigin="anonymous"></script>
</body>
</html>
