<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../Styles/index.css">
  
</head>
<body>
  <header>
    <nav class="navibar">
      <div class="logo">
        <img src="../assets/logo.png" alt="Logo" width="140px">
      </div>
      <ul class="nav-links">
        <li>HOME</li>
        <li>SERVICES</li>
        <li>WHOM WE SERVE</li>
        <li>ABOUT</li>
        <li>CARRIER</li>
      </ul>
      <div class="talk">
        <a href="#">Let's Talk</a>
      </div>
    </nav>
  </header>
  
</body>
</html>