<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../Styles/index.css">
  
</head>
<body>
  <header>
    <nav class="navibar">
      <div class="logo">
        <img src="../assets/logo.png" alt="Logo" width="140px">
      </div>
      <ul class="nav-links">
        <li>HOME</li>
        <li>SERVICES</li>
        <li>WHOM WE SERVE</li>
        <li>ABOUT</li>
        <li>CARRIER</li>
      </ul>
      <div class="talk">
        <a href="#">Let's Talk</a>
      </div>
    </nav>
  </header>
  










  
  <div></div>
    <footer>
      <div class="footer-container">
        <div class="address">
          <h3>RR INOVATIONS PVT LTD</h3>
          <address>
            2nd Floor,
            Garudadri Nagar,<br>
            Royaloaks Furniture Beside,<br>
            Mangalam Road,
            Tirupathi,<br>
            AP-517507
          </address>
          <h4 class="address"><i class="fa-solid fa-phone"></i> +91-6302785278, 9962410589</h4>
          <h4 class="address"><i class="fa-solid fa-envelope"></i> rrinnovation24@gmail.com</h4>
        </div>
        <div class="quick-links">
          <h3>Quick Links</h3>
          <ul>
            <li>HOME</li>
            <li>SERVICES</li>
            <li>WHOM WE SERVE</li>
            <li>ABOUT</li>
            <li>CARRIER</li>
            <li>Let's Talk</li>
          </ul>
        </div>
      </div>
      <div class="copy">
        <h4>© Copy rights @ RR INNOVATIONS PVT LTD. Powered By Big Matrix</h4>
      </div>
    </footer>
    
  </div>
</body>
</html>